<a href="https://colab.research.google.com/github/Gabriel-Barboza-Carvajal/OptativaIntroduccionDatos/blob/main/Laboratorio_13_abril.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = { 'Country' : ['Costa Rica', 'India', 'Brazil'],
'Capital' : ['San José', 'New Delhi', 'Brasilia'],
'Population' : [4500000, 1303171035, 207847528]}

df= pd.DataFrame(data,columns=['Country', 'Capital', 'Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
import pandas as pd
students = [('Ana',23,'San Jose','A'),
            ('Esteban',22,'Heredia','B'),
            ('Juan',22,'Cartago','A'),
            ('Karla',22,'Limón','A'),
            ('Ernesto',21,'Heredia','B')
            ]

df = pd.DataFrame(students,columns=['Nombre','Edad','Ciudad','Sección'])
print(df)

    Nombre  Edad    Ciudad Sección
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limón       A
4  Ernesto    21   Heredia       B

In [ ]:
def getIndexes(dfObj,value):
  listOfPos=[]
  result=dfObj.isin([value])
  seriesObj=result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
    rows = list(result[col][result[col]==True].index)
      
    for row in rows:
        listOfPos.append((row,col))

  return listOfPos

In [ ]:
listOfPositions = getIndexes(df,'A')

print('Index positions of 22 in Dataframe : ')

for i in range(len(listOfPositions)):
  print(listOfPositions[i])

Index positions of 22 in Dataframe :
(0, 'Sección')
(2, 'Sección')
(3, 'Sección')

In [ ]:
print("promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese cantidad de Temperaturas")
N2=int(input())
for i in range(N):
  temperatura=float(input("Ingrese la temperatura"))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]
Media=Suma/N
print(Media)

promedio de los elementos del vector
Ingrese cantidad de Temperaturas
2
Ingrese la temperatura1
Ingrese la temperatura2
Ingrese la temperatura3
2.0